/* ======================================================
   MALLORCA ADVENTURE - Cielo + Carretera + Arena + Mar
   ====================================================== */

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

/* UI */
#ui {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Área de juego */
#game {
  position: relative;
  width: 800px;
  height: 400px;
  border: 2px solid #555;
  overflow: hidden;
  background: #222;
}

#bg-sky {
  position: absolute;
  width: 1024px;
  height: 238px;
  top: 0;
  left: 0;
  background: url("../assets/backgrounds/capa_ciudad.jpg") repeat-x;
  background-size: contain; /* mantiene pixel art limpio */
  z-index: 1;
}

#bg-city {
  position: absolute;
  width: 800px;
  height: 1600px;
  top: 0;
  left: 0;
  background: url("../assets/backgrounds/capa_ciudad.png") repeat-x;
  background-size: contain;
  image-rendering: pixelated;
  z-index: 2;
}
/* Carretera */
#bg-road {
  position: absolute;
  width: 1600px;
  height: 40px;
  top: 240px;
  left: 0;
  background: #6b6b6b;
  z-index: 2;
}

/* Línea discontinua */
#bg-roadLine {
  position: absolute;
  width: 1600px;
  height: 4px;
  top: 260px;
  left: 0;
  background: repeating-linear-gradient(
    to right,
    #ffffff 0 30px,
    transparent 30px 60px
  );
  z-index: 3;
}

/* Arena */
#bg-sand {
  position: absolute;
  width: 1600px;
  height: 20px;
  top: 280px;
  left: 0;
  background: #b67a4b;
  z-index: 2;
}

/* Mar */
#bg-sea {
  position: absolute;
  width: 1600px;
  height: 100px;
  top: 300px;
  left: 0;
  background: #1d32d5;
  z-index: 1;
}

/* Jugador */
#player {
  position: absolute;
  width: 64px;
  height: 64px;
  background: url("../assets/sprites/player.png") no-repeat center;
  background-size: contain;
  image-rendering: pixelated;
  top: 190px;
  left: 100px;
  z-index: 5;
}

/* Ciclista - obstáculo suelo */
#obstacle {
  position: absolute;
  width: 64px;
  height: 64px;
  background: url("../assets/sprites/cyclist.png") no-repeat center;
  background-size: contain;
  image-rendering: pixelated;
  top: 200px;
  left: 800px;
  z-index: 5;
}

/* Gaviota - enemigo aéreo */
#enemy {
  position: absolute;
  width: 64px;
  height: 48px;
  background: url("../assets/sprites/seagull.png") no-repeat center;
  background-size: contain;
  image-rendering: pixelated;
  top: 140px;
  left: 900px;
  z-index: 5;
}

/* Fruta */
#fruit {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #32cd32;
  border-radius: 50%;
  top: 210px;
  left: 900px;
  z-index: 5;
}

/* Créditos */
#credits {
  margin-top: 20px;
  font-size: 12px;
  opacity: 0.7;
  color: #ccc;
}